@font-face {
  font-family: "MaiandraGD";
  src: url('/project/Music-site/fonts/maiandra-gd/Maiandra GD Regular.ttf');
}

html {
  box-sizing: border-box;
}


*, ::before, ::after {
  box-sizing: inherit;
}


body{
  margin: 0;
  font-family: Arial;
}

.mainContainer {
  background-image: url(/project/Music-site/images/bg1.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


.container {
  background-image: url(/project/Music-site/images/Layer4.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 68.9%;
  margin: 0 auto;
}

.column {
  float: left;
  padding-top: 15px;
}

.c1, .c3 {
  width: 25%;
}

.c2 {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.mike {
  background-image: url(/project/Music-site/images/Untitled-1.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 90%;
  height: 150px;
}


.music-logo {
  background-image: url(/project/Music-site/images/Music-logo.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 59.7%;
  height: 100px;
  margin: 0 auto;
  margin-top: 30px;
}


.search-icon {
  width: 76.6%;
  background: #e2e2e2 url(/project/Music-site/images/search_icon.png) no-repeat;
  border: 1px solid #e2e2e2;
  background-position-x: 4px;
  background-position-y: 3px;
  margin-left: 54px;
  border-radius: 1px;
}


.search {
  margin-left: 26px;
  border: 1px solid #e2e2e2;
  font-size: small;
}


.navbar {
  width:100%;
  margin-top: 16px;
  box-shadow: 2px 2px 5px white;
}


.ulist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.list {
  float: left;
  width:20%;
}


.list a {
  display: block;
  color: white;
  text-align: center;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  font-size: 22px;
  border: 1px solid white;
  background: linear-gradient(to top, #69a643 , #a6d140 );
}


.active {
  background: linear-gradient(to bottom, rgb(26, 189, 208),rgb(41, 130, 161)) !important;
}


a:hover {
  opacity:0.8;
}


h1,
h2,
p {
  color: #fff;
}


h1,
h2 {
  font-family:MaiandraGD;
  font-weight: normal;
} 


.heading1 {
	margin-top: -39px;
	font-size: 40px;
}


.heading2 {
	margin-top:18px;
	font-size: 30px;
}


.para {
  font-size:14.5px;
}


.guitar {
  float: right;
  width: 17%;
  height: 337px;
	margin-top: -87px;
  background-repeat: no-repeat;
  background-size: 100% 100%
}


.footer {
  text-align:center;
	margin-top: 435px;
  padding-bottom: 10px;
}


.line {
  background-image: url(/project/Music-site/images/white_line.png);
  width: 100%;
  height: 2px;
}


.box {
	width: 19%;
	margin-left: auto;
  margin-top: 2px;
}


.bottomlink {
  text-decoration: none;
  color:  #1abdd0;
  font-size: 10px; 
}


.milogo {
  width: 6%;
  height: 43px;   
}


small {
  color: white;
  font-size: 11px;
  word-spacing: 2px;
}


.foot {
  width: 26%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 10px;    
  box-shadow: 0px 1px white;
}


.iconNav {
  min-height: 45px;
  overflow: hidden;
  display: inline-block;
}
    
    
.icon{
    position: relative;
    bottom: -20px;
}
    
.iconNav:hover img {
    bottom: 0;
    transition-duration: 0.5s;
    }